
$red: #d70018;
$height-header__main: 5rem;
$height-header__nav: 4.5rem;
@mixin whereAbsolute($top, $left, $bottom, $right) {
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
@mixin bgBefore($color: #000) {
  content: "";
  z-index: -1;
  width: 100vw;
  background: $color;
  position: absolute;
  left: 0;
}
@mixin flexbox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px -16px 10px 10px black;
  &__main {
    @include flexbox(space-between, center);
    // overflow-y: hidden;
    flex-direction: row;
    height: $height-header__main;
    &-logo {
      /* img {
          object-position: 0px 4px;
          height: 4rem;
        } */
      h1 {
        font-family: "Orbitron", sans-serif;
        color: white;
        font-size: 3rem;
      }
      .mobile-logo {
        display: none;
      }
    }
    &-search {
      @include size(40rem, unset);
      position: relative;
      border-radius: 7px;
      overflow: hidden;
      margin-right: 0.4rem;
      .search__input {
        @include size(100%, 4rem);
        outline: none;
        border: 1px solid $red;
        padding: 0 3.3rem 0 1.5rem;
        font-size: 1.7rem;
        &::placeholder {
          font-size: 1.3rem;
          transition: all 0.2s;
        }
        &:focus::placeholder {
          font-size: 1.7rem;
        }
      }
      .search__button {
        position: absolute;
        @include size(4rem, 4rem);
        @include whereAbsolute(0, unset, unset, 0);
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        i {
          font-size: 2rem;
          color: #bbb;
        }
        &:hover i {
          color: rgb(170, 170, 170);
        }
      }
    }
    &-mini {
      @include flexbox(center, center);
      height: 3.3rem;
      .mini__cart {
        @include flexbox(center, center);
        @include size(10rem, 4rem);
        border-radius: 0.7rem;
        border: 0.01rem solid white;
        transition: all 0.2s;
        &:hover {
          background: rgba(255, 255, 255, 0.404);
        }
      }
      .mini__history {
        @include flexbox(center, center);
        @include size(10rem, 4rem);
      }
      .mini__user{
        position: relative;
        cursor: pointer;
        &-sub{
          display: none;
          // display:flex;
          flex-direction: column;
          position: absolute;
          top: 4rem;
          left: 0;
          width: 100%;
          z-index: 100;
          background: #d6061e;
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          a{
            height: 3rem;
            display:block;
            color:rgb(255, 255, 255);
            padding: 1rem 3rem;
          }
          a:first-child {
            border-bottom: 1px solid white;
          }
        }
        &:hover .mini__user-sub{
          display: flex;
        }
      }
      span {
        color: white;
        font-size: 1.4rem;
        text-align: center;
        font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans",
          Freesans, sans-serif;
      }
      i {
        color: white;
        padding-right: 0.4rem;
      }
    }
    &::before {
      @include bgBefore(#d70018);
      height: 5rem;
    }
  }
  &__nav {
    @include flexbox(space-between, center);
    font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
      sans-serif;
    &-item {
      width: calc(100% / 6);
      height: $height-header__nav;
      position: relative;
      transition: 0.2s;
      .item__icon {
        font-size: 2rem;
        margin-right: 1rem;
      }
      .item__title {
        width: 100%;
        height: 100%;
        font-size: 1.7rem;
        @include flexbox(center, center);
      }
      &:hover {
        background: #e44051;
      }
      &:hover .item__title span {
        color: white;
      }
      &:hover .item__icon {
        color: white;
      }
      &:hover .fa-sort-down,
      .fa-sort-up {
        display: none;
      }
      &:hover .fa-sort-up {
        display: inline-block;
        color: white;
      }
      &:hover .item__subitem {
        display: flex;
      }
      .item__subitem {
        @include whereAbsolute($height-header__nav, 0, unset, unset);
        display: none;
        flex-direction: column;
        width: 100%;
        background: #e44051;
        position: absolute;
        box-shadow: 5px 3px 15px 0 rgb(0 0 0 / 12%);
        z-index: 99;
        &-item {
          padding: 1.2rem 1.2rem;
          font-size: 1.4rem;
          transition: 0.2s;
          background: white;
          &:hover {
            color: $red;
            margin-left: 0.4rem;
          }
        }
      }
    }
    &::before {
      @include bgBefore(#ffffff);
      height: $height-header__nav;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    &__main {
      @include flexbox(space-between, center);
      flex-direction: row;
      height: 4rem;
      &-logo {
        width: 3.9rem;
      }
      &-search {
        .search__input {
          @include size(100%, 3.4rem);
        }
        .search__button {
          @include size(3rem, 3.4rem);
        }
      }
      &-mini {
        .mini__cart {
          @include size(10rem, 3.4rem);
        }
        .mini__history {
          @include size(10rem, 3.4rem);
        }
      }
      h1 {
        display: none;
      }
      .mobile-logo {
        display: block;
        margin: 0 1rem;
      }
    }
    &__nav {
      @include flexbox(space-between, center);
      font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans,
        sans-serif;
      &-item {
        width: calc(100% / 6);
        height: 4rem;
        position: relative;
        transition: 0.2s;

        .item__icon {
          font-size: 2rem;
          margin-right: 0;
        }
        .item__title {
          span {
            display: none;
          }
          & i:nth-child(3) {
            display: none;
          }
          & i:nth-child(4) {
            display: none;
          }
        }
        .item__subitem {
          display: none !important;
        }
      }
    }
  }
}
